<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Events  OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Events Watch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Events iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2307EE541C0BAE8000843582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2307EE5E1C0BAE8000843582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2327EB151C0F7BCF004AC6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2327EB1E1C0F7BCF004AC6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2347D0851C5C1F6300B28395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2347D09C1C5C1F9100B28395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
